<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VegShare</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
</head>

<body>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        VegShare
      </h1>
      <h2 class="subtitle">
        Promoting Vegan/Vegetarian Lifestyle through sharing recipes!
      </h2>
    </div>
  </div>
</section>
{{!-- NAV BAR --}}
 <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong><a href="/new">Make Profile</a></strong>
      </div>
    </div>
  </div>
</nav>
    {{{body}}}

    
</body>