<p>See what they have made!</p>
<a href="/{{userLink._id}}/newRecipe">New Recipe</a>

<figure class="image is-128x128">
  <img src="{{userLink.img}}">
</figure>
{{#each userLink.recipes}}
<p>{{instructions}}</p>
{{#each ingredients}}
<li>{{this}}</li>





{{/each}}
{{/each}}