
<div class="container">
  
<form action="/{{userId}}/recipes" method="POST">
<div class="field">
  <div class="control">
    <input class="input" name="title" type="text" placeholder="Title">
    <input class="input" name="description" type="text" placeholder="Description">
  </div>
 <textarea class="textarea" name="ingredients" placeholder="Ingredients"></textarea>
 <textarea class="textarea" name="instructions" placeholder="Instructions"></textarea>
</div>
<button class="button is-link">Submit</button>
</form>

  </div>
</div>
