


<form action="/recipes/:id" method="POST">
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
 <textarea class="textarea" placeholder="e.g. Hello world"></textarea>
</div>
</form>